<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
	<div class="cit">
		<div class="head">
			<h1>Add a new course</h1>
			<form action="/process" method="post">
				{% csrf_token %}
				<p>Name:<input type="text" name="Cname"></p>
				<p>Description:<input type="text" name="desc"></p>
				<input type="submit" valu="Add">
			</form>
		</div>
		<div class="body">
			<h2>Courses</h2>
			<table>
				<thead>
					<th>Courses Name</th>
					<th>Description</th>
					<th>Date Added</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for course in courses %}
					<tr>
						<td>{{ course.course }}</td>
						<td>{{ course.description }}</td>
						<td>{{ course.created_at }}</td>
						<td><a href="/courses/destroy/{{ course.id }}">remove</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>